axuv/data/*/
*.obj
axuv/data/AXUV_LOS_geom.txt
Archive/
*__pycache__/
*.ipynb_checkpoints/
*.vscode*
*.pickle
aug/
.venv
.vscode*
*.h5
*.png
*.gif
output/
plots/
create.py
*.xlsx
*.out
slurm*
pyrightconfig.json
*.egg-info
.zed
