cherab
h5py
scipy
pandas
shapely
scikit-image
SQLAlchemy
matplotlib
ipykernel
openpyxl
# aug_sfutils - this is needed for the experimental signals and only works on IPP server for users in AUG group

# The synthetic diagnostic only works if the diode geometry data, as well as input plasma data is provided.
# Reflection calculation only works if one has access to the AUG vessel CAD files.